In [ ]:
print("abdul rafay")

# 2
a=float(10);
print(a);
b=int(10.4);
print(b);
chr = "a";
print(chr);
str="apple";
print(str);


# 3
#@name="rafay";
#print(@rafay)


# 4
c=(10,20,30,40)
print(c[0],c[1],c[2],c[3])


# 5
print(c[0]);
print(c[1]);
print(c[2]);
print(c[3]);

e=f=g=10;

print(e,f,g)


# 6
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)
# inthe plus there is no space between string

#7
x = "Python"
y = "is"
z = "awesome"
print(x ,y ,z)
# in this comma the is spaxe between string


int =12
float= 10.1;
str="rafay"
print(int,float,str)

# 9
int =12
float= 10.1;
str="rafay";
print(int+float+str)

abdul rafay
10.0
10
a
apple
10 20 30 40
10
20
30
40
10 10 10
Pythonisawesome
Python is awesome
12 10.1 rafay

TypeError: unsupported operand type(s) for +: 'float' and 'str'

lab 2 and 3

## task 1:
1.	Print at least 5 types of data type

In [ ]:
a= 10;
b= 20;
c=30;
d=40;
e= 40;
print(a,b,c,d,e);
print(type(a),type(b),type(c),type(d))


#2;
a= 10.1;
b=20.45;
c=50.5;
d=34;
e=30,10
print(a,b,c,d)
print(type(a))

SyntaxError: invalid decimal literal (<ipython-input-14-5927a2edbd9a>, line 23)

### Lab 4 and 5:
## Task 1:
# 1.	Access List Items:

•Create a list of fruits.

•	Print the first and last items of the list.

In [1]:
fruits = [ "banana", "orange", "grape", "kiwi"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: banana
Last item: kiwi

## Task2:	Change List Items:
•	Create a list of colors.

•	Change the second item in the list to "blue".

In [2]:
colors = ["red", "green", "yellow", "orange","voilet"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'yellow', 'purple']

## Task3:Add List Items:

•	Create a list of numbers.

•	Add the number 10 at the end of the list.

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

Task4:
	Remove List Items:
  
•	Create a list of animals.

•	Remove the third item from the list.

In [4]:
animals = ["dog", "cat", "lion", "elephant"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['dog', 'cat', 'elephant']

## Task5:Loop Lists:

•	Create a list of cities.

•	Loop through the list and print each city.

In [5]:
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

## Task6:6.	List Comprehension:
•	Create a list of numbers from 1 to 10.

•	Use list comprehension to create a new list containing the square of each number.

In [6]:
numbers = [i for i in range(1, 11)]
squares = [num ** 2 for num in numbers]
print("Squared numbers:", squares)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Task7:7.	Sort Lists:
•	Create a list of names.

•	Sort the list alphabetically.

In [7]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print("Sorted names:", names)

Sorted names: ['Alice', 'Bob', 'Charlie', 'David']

## Task8:	Copy Lists:
•	Create a list of fruits.

•	Copy the list into a new list.

In [8]:

fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)

Copied list: ['apple', 'banana', 'orange']

## Task9:9.	Join Lists:
•	Create two lists of numbers.

•	Join the two lists into a single list.

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

## Task 10:10.	List Methods:
•	Create a list of fruits.

•	Use the append() method to add a new fruit to the list.

•	Use the pop() method to remove the last fruit from the list.

In [10]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print("Updated fruits:", fruits)
fruits.pop()
print("After popping:", fruits)

Updated fruits: ['apple', 'banana', 'orange', 'grape']
After popping: ['apple', 'banana', 'orange']

Task11:11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.

•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum list:", sum_list)

Sum list: [7, 9, 11, 13, 15]

## Task12:12.	Filtering and Sorting:
Create a list of numbers.

•	Use list comprehension to create a new list containing only the even numbers from the original list.

•	Sort the new list in descending order.

In [12]:
numbers = [3, 6, 2, 8, 5, 9, 4, 7]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [8, 6, 4, 2]


## Tak13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.

•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

---

In [13]:
numbers = list(range(1, 11))
even_reverse = numbers[-2::-2]
print("Even numbers in reverse:", even_reverse)

Even numbers in reverse: [9, 7, 5, 3, 1]

## Taak14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.

•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [18]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]